.horizontal-photo-gallery {
  margin: 20px 0;
  height: 100%;
}

.slick-dots {
  bottom: -30px;
}

.slick-dots li:hover button:before {
  color: cadetblue;
}

.slick-dots li.slick-active button:before {
  color: #007bff;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-arrow:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.slick-arrow {
  width: 40px;
  height: 100%;
  font-size: 0; /* Скрывает текст */
  z-index: 1;
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* Полупрозрачный фон для навигационных кнопок */
}

.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(
    0,
    123,
    255,
    0.5
  ); /* Полупрозрачный фон при наведении */
}
