body {
  font-family: Arial, sans-serif; /* Устанавливаем шрифт */
  margin: 0; /* Убираем отступы по умолчанию */
  padding: 0; /* Убираем внутренние отступы по умолчанию */
  background-color: #f0f0f0; /* Устанавливаем цвет фона */
  color: #333; /* Устанавливаем цвет текста */
}
